.App {
  text-align: center;
  background-repeat: no-repeat;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(18,55,83,1) 61%);
}

html{
  background-repeat: no-repeat;
  background:  rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(18,55,83,1) 61%);
}



h4{
  font-family: Raleway;
  padding: 1rem 0;
}


.app__logo img {
  margin-top: 5px;
  width: 200px;
  height: 100px;
}

.app_spinner {
  background: transparent #ffffff;
}


.container {
  max-width: 1100px;
  margin: auto;
  padding:  30px;
}

.cards {
  margin-left: 20px;
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card {
  cursor: pointer;
  background-color: transparent;
  height: auto;
  width: 350px;
  color: goldenrod;
  overflow: hidden;
  object-fit: contain;
}

.card__text{
  font-family: Raleway;
  background: rgb(14,30,37);
  margin: 0;
  padding: 0;
}

.card:hover{
  opacity: 0.6;
}

h4{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.card img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto;
  height: 150px;
  object-fit: cover;
}

.loader__image{
  display: flex;
  flex-direction:column;
  align-items: center;
  margin: 50px auto;
}

.loader__image h4{
  font-family: Raleway;
  color: goldenrod;
}

.footer{
  margin-top: 20px;
  color: whitesmoke;
}



@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
